.main {
  
}

.container {
  height: 100vh;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.backgroundImage {
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.gallery {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  scroll-snap-align: start;
}

.icard{
  width: 25vw;
  height: 25vh;
}

.videoarea{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: 25vh 50vh 25vh;
  scroll-snap-align: start;
  justify-items: center;
  align-items: center;
}

.frame {
  position: relative;
  width: 667px;
  height: 397px;
  z-index: 2;
  grid-area: 2 / 2;
  box-shadow: 10px 10px 50px black;
}

.video{
  z-index: 3;
  grid-area: 2 / 2;
}

.videoimage{
  width: 100vw;
  height: 100vh;
  z-index: 1;
  grid-area: 2/2;
}

.shop {
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.shop h1{
  color: #F0F001;
  align-self: center;
  font-size: 5vw;
  padding-bottom: 2rem;
}

.hats{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.card{
  width:25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopitem{
  width: 20vw;
  height: 25vh;
}

.button {
  color: #F0F001;
  border: #F0F001 solid 5px;
  width: 12vw;
  padding: 5px;
  text-align: center;
}

.footer {

}

@media (max-width: 900px) {
  .gallery {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .icard{
    width: 50vw;
    height: auto;
  }

  
  
}
